[2021-11-13 22:43] Darkcyde13 commented on #2287
To put something like that together, I think you need to implement the commands slightly differently.  You shouldn't need to put `Humanise()` inside quotes like that, and you do need to add spaces between the elements.  Use this, it works just as you intend. :)

[code]

`cat()` is a native Cottle command, and it trims whitespace automatically.  I don't know if this is something that EDDI can 'fix'

[2021-11-13 23:15] Darkcyde13 commented on #2277
Sorry about the wait.  I've now had some time to try this out in Horizons, and I've found that it's exactly the same.  Here's the link to the video I made:
https://www.dropbox.com/s/t68dfnkqqg2ki34/Luyten%20347-14%20Permit%20Mission%20in%20Horizons%202021-11-13%2023-00-15.mkv?dl=0
Just as in Odyssey, the permit is issued as soon as you accept the mission.  It no longer appears in your missions tra

[2021-11-14 07:34] Tkael commented on #2287
Indeed, `cat()` is a native Cottle command. I'm not sure that we have a way to force it resolve custom functions like `Humanise()`. As far as trimming whitespaces is concerned, there is one configuration setting that I might be able to play with but I'm not sure that it would resolve the trimming within `cat()` or that there wouldn't be other impacts from changing the setting. We'll probably need

[2021-11-14 07:40] Tkael commented on #2277
Thanks for the confirmation. Looks like we can safely implement a universal change then.

[2021-11-14 12:07] Darkcyde13 commented on #2287
I've had a quick look into this, as I was sure I was able to use whitespace in some of my code somewhere.  Indeed, I do use `cat()` with whitespace in some places, so I was curious to see what conditions it does and does not work in.  As far as I can tell at the moment, whitespace will work, but not when used in another command.

So, these work (just as an example):
[code]

But these don't (whites

[2021-11-14 15:34] Transcan commented on #2287
Yes, I made some experiments too, and found out the same: Is not cat() the one that trims white spaces, but the other, EDDI custom, functions.

It would be great if the custom functions behave the same as the rest of cottle functions. As we know now:
Trimming extra white spaces to leave only one.

The other 'problem' with not evaluating functions inside strings can be solved as you said in the fir

[2021-11-19 19:28] Tkael commented on #2287
It's not exactly Cottle - collapsing blank characters is actually happening in EDDI after the script passes through Cottle's rendering engine. That said, there may be an extra trim on custom functions that doesn't need to be there. Looking.

[2021-11-19 20:58] Tkael commented on #2287
Aha! That same collapse and trim function was being applied to each custom function as well as to the script as a whole. I'll patch it so that the function is only applied at the top level final render.

[2021-11-19 21:22] Darkcyde13 commented on #2287
Hmm, so would I be correct in thinking that this could actually speed up scripts a little bit?  I mean, if that trim function only needs to be done once on the whole script, rather than on every function, then that should be a whole lot of 'trims' that don't get processed anymore (depending on how many functions are used in a script, of course).

So, tidying up the output, and making it more effic

[2021-11-19 21:35] Tkael commented on #2287
Very slightly but yes. :-)

[2021-11-20 09:42] Tkael commented on #2281
I'm not sure why the lexicon editor isn't working. You seem to be using a different version of the lexicon editor than I am so I cannot replicate your conditions exactly.
You might try removing the \<speak\> tags?
In your editor, is the input case sensitive (i.e. is "Gimballed" distinct from "gimballed")?

[2021-11-20 09:59] Tkael commented on #2281
For reference, here are some screenshots showing my access route and my Ivona lexicon editor:
https://github.com/EDCD/EDDI/blob/develop/images/lexicons-Ivona1.png
https://github.com/EDCD/EDDI/blob/develop/images/lexicons-Ivona2.png
https://github.com/EDCD/EDDI/blob/develop/images/lexicons-Ivona3.png

[2021-11-20 10:53] Tkael commented on #2247
Resolved by #a0f39a3af601e59f9924a8f872e162d354bc2bac.

[2021-11-20 10:53] #2247 closed, assigned to Tkael

[2021-11-20 12:52] ArNeo-VR opened #2288 "Variable {TXT:Ship fuel tank drive grade} not functioning"
## What's Wrong (please be as specific as possible)
Output is 'Not set' and stays 'Not set'

### Expected
Depending on the ships fuel tank grade: C [A..F]

### Observed
Either only the main tank or an optional module: tank bought. Output is 'Not Set'
Variable {INT:Ship fuel tank class} does give a result 5

### Steps to reproduce
1. Start Elite Dangerous go into ship.
2. Check the variable.

### C

[2021-11-20 13:52] Darkcyde13 commented on #2281
My version of Ivona is (as far as I was aware) the last commercially available version from Ivona (the company).  By that I mean the last version you had to download an installer of about 270Mb.  After my version, I believe Ivona changed their distribution model and website (and distributor I think as it's now Harpo software).  This was back in about 2015, so my version is quite old now, and there

[2021-11-20 15:26] Darkcyde13 commented on #2281
I've downloaded the latest version of Ivona from Harpo software to try out.  It's only a 30 day trial though, but it does say "IVONA 2 Amy OEM" like yours.  I've added the lines to the lexicon, and they work perfectly fine first time.  So it seems that it's something to do with the older version I have.  I may have to invest in the new version, but I don't like the idea of having to buy the same t

[2021-11-20 18:21] Tkael commented on #2288
Hmm. That module name looks like it might be off in the docs. Have you tried `{TXT:Ship fuel tank grade}`?

[2021-11-20 18:45] Tkael commented on #2285
`va_active` has definitely been available from Cottle (in the Speech Responder) but I'm not sure it was ever available from VoiceAttack. I've checked our VoiceAttack documentation revisions going back several years and have been unable to find any reference to that variable name.

There is a (currently undocumented) `{TXT:EDDI version}` variable that might meet your use case. A null value would in

[2021-11-20 18:48] Tkael commented on #2285
Alternatively, you could respond to the [VA initialized](https://github.com/EDCD/EDDI/wiki/VA-initialized-event) event.

[2021-11-20 18:48] #2285 closed, assigned to Tkael

[2021-11-20 19:40] Tkael commented on #2281
A version number for my copy is a little difficult to find, but as you can see / guess my version came from Harpo.

The minimal change required to correct this is to change `.mount` to `.Mount` in the scripts so that the enum resolves properly. That said, I think I'm going to take the opportunity to rework this into a proper localizable variable rather than an enum.

[2021-11-21 08:50] netchild commented on #2285
It is listed in https://github.com/EDCD/EDDI/wiki/Variables, if they don't match with what is available in VA, where can I find the list of VA variables?

Thanks for the info about workaround possibilities.

[2021-11-21 09:10] netchild commented on #2285
BTW: would it be possible to have some kind of VA variable which tells "hey, EDDI is installed, you can use it"?

[2021-11-21 09:33] netchild commented on #2285
The event does work, if the VA profile which contains it is the active one at start, but it does not work, if I have started VA with another profile and switch to the one which contains the event. So this is not a good workaround.

Using EDDI version works (I check if the TXT variable is set).

This is not really clean (as not documented, and personally I would consider a bool which tells "EDDI is

[2021-11-21 16:44] Tkael commented on #2285
https://github.com/EDCD/EDDI/wiki/Variables defines general variables available inside the Speech Responder while https://github.com/EDCD/EDDI/wiki/VoiceAttack-Integration defines general variables inside of VoiceAttack (also note that event documentation is still the best place to view both Speech Responder and VoiceAttack variables applicable to each specific event).

I've already added `{TXT:ED

[2021-11-28 21:44] Darkcyde13 commented on #2279
Just an additional thought after a related discussion on the forums.  Attempting to set a state variable to `null` also has no effect, just like trying to set it to `void`.

[2021-12-19 10:22] parduz opened #2293 "Default script testing wrong "invariantname" strings."
In the Mission Faction State script, there's a test for the `mission.FactionState.invariantName` variable:
`|elif state = "CivilUnrest":`
But the variable value is "Civil Unrest" with a space.

It would appear that the invariant variable has been updated to have spaces between the words, but the default script not updated to match.

I think this happens also with other values but i've not tested t

[2021-12-19 10:32] parduz opened #2294 "Make the Humanise function better"
I think that a couple of changes in the Humanise function would help a lot non english users:

1. "return rounded numbers istead of strings": i mean, instead of "More than 2 millions and a half" the function should return "More than 2000000 and a half" and let the voice manage the pronounciation. This would solve a lot of "speaking errors" at least with my Italian voice.
2. "return an array": like

[2021-12-19 12:42] Darkcyde13 commented on #2293
I can confirm this.  I tried a mission from a faction that is in the 'Civil Unrest' state.  I added this line to the end of the Mission faction state script:
`Faction state: "{mission.FactionState.invariantName}".`
The 'unrest' speech was not voiced from either the accept, or complete, missions scripts, and the additional line voiced this:
`Faction state: "Civil Unrest"`

As Parduz says, it seems

[2021-12-19 20:26] marcushallett opened #2295 "No function (including Pause()) impact Play() execution time"
## What's Wrong (please be as specific as possible)
Upon execution of script all `Play()` sounds will commence and immediately execute consecutively without delay, so long as they follow program logic.

There exists no way to programmatically introduce a delay between `Play()` events or to be impacted by timing of regular speech statements.

### Expected
`Pause()` or some other function should hav

[2021-12-20 03:06] Tkael commented on #2294
1. I'm afraid that this doesn't work well in some languages. In English we would say "More than 2 and a half million" rather than "More than 2 millions and a half". This would be rendered improperly in English if we were to change the result to "More than 2000000 and a half".

2. While an interesting idea, this would be a very disruptive change and has the same problem as your first suggestion.

W

[2021-12-20 03:56] Tkael commented on #2293
Good catch, I'll fix this for the next release.

[2021-12-20 09:14] parduz commented on #2294
1) mh... blame me. I think i had the same idea about a year ago, talked about it in the forum, got the same answer, and forgot about it.

Well, it could be a step... with a way to "declare" the plurals in crowdin (something like `milione|milioni` or `milion{e|i}` ?) it could work.
But still italian have other issues: the voice says "1 milione" as "uno milione" which should be "un milione", "1 mila

[2021-12-21 18:18] Tkael commented on #2294
`Humanise should have an optional string parameter which is what the passed number is about.` I'm not sure that I understand yet how we would need to do this. Please elaborate on what you'd enter and how we would need to handle it?

`Humanise should fire a "callback" script before returning, to allow the user alter the function result.` Once again, I'm a little fuzzy on the details of what you are

[2021-12-21 18:38] #2281 closed, assigned to Tkael

[2021-12-21 18:38] #2287 closed, assigned to Tkael

[2021-12-21 18:38] #2288 closed, assigned to Tkael

[2021-12-21 18:38] #2293 closed, assigned to Tkael

[2021-12-21 18:38] #2295 closed, assigned to Tkael

[2021-12-21 18:47] Tkael commented on #2280
Resolved for next update.

[2021-12-21 18:47] #2280 closed, assigned to nobody

[2021-12-21 18:57] #2276 closed, assigned to Tkael

[2021-12-21 19:40] #2275 closed, assigned to Tkael

[2021-12-21 20:01] Tkael commented on #2274
Rather than always reporting seconds (which is more precision than I believe we need here), I think I'll use
[code]

[2021-12-21 20:06] #2274 closed, assigned to Tkael

[2021-12-21 20:17] Tkael commented on #2273
`{ahead in|tied in}` simply doesn't belong when describing a past conflict. We should only apply that logic to current conflicts.

[2021-12-21 20:17] #2273 closed, assigned to Tkael

[2021-12-21 20:35] #2272 closed, assigned to Tkael

[2021-12-21 20:39] Tkael commented on #2232
Resolved for next update by changes to the `RouteDetails()` function and navigation service.

[2021-12-21 20:39] #2232 closed, assigned to Tkael

[2021-12-21 20:41] Tkael commented on #2002
Resolved for the next release (by adding a Clipboard() function and using it within the `Route details` script).

[2021-12-21 20:41] #2002 closed, assigned to Tkael

[2021-12-21 20:42] Tkael commented on #2108
Resolved by changes to the RouteDetails() function and navigation service for next release.

[2021-12-21 20:42] #2108 closed, assigned to Tkael

[2021-12-21 21:15] richardbuckle commented on #2294
Oh you sweet summer child of a language where there is only one plural 😀

As one who speaks both Italian and Russian, let me introduce you to Slavic plurals, where the inflection depends upon the last *word* (**not** the last digit) of the number, e.g Russian (in Latin alphabet):

- one => `nominative singular`:
  - 1 kg => odin kilogramm,
  - 101 kg => sto odin kilogramm
- two, three, four => `ge

[2021-12-22 00:14] parduz commented on #2294
EXACTLY!

Let me try with an example of what my envision is:

`You sold it for {Humanise(1534752,"Credits")}.`

Humanise do his math and calls the "ReviewHumaniseOutput" script, which could access some variable like:
`EDDI_Humanise_Parts[0]`       = about
`EDDI_Humanise_Parts[1]`       = 1 million
`EDDI_Humanise_Parts[2]`       = and a half
`EDDI_Humanise_Parts[3]`       = Credits
`EDDI_Humanise_P

[2021-12-22 00:21] parduz commented on #2294
This is my current "Italianise" script.
It's "too young" so it is in "beta" stage, perhaps may explain what i need to do better than my poor english:

[code]

The whole regex part returns what i would like to have already set by the new Humanise, before firing the "callback" script.

HTH :)

[2021-12-22 19:39] #2269 closed, assigned to Tkael

[2021-12-22 19:43] #2259 closed, assigned to Tkael

[2021-12-22 21:58] #2277 closed, assigned to Tkael

[2021-12-26 17:39] Tkael commented on #2294
Hmm. Variables in Cottle are immutable, meaning that it would not be possible for the user to set `{event.EDDI_Humanise_Output }`. We'd have to use `SetState()` to set a variable and EDDI would need to know to read a specific value from the SetState dictionary.

In terms of complexity, you may be better off sticking with your `Italianise` script and calculating your values from the original number

[2021-12-26 17:51] Tkael commented on #2294
Hmm... after going though the exercise above I think we might also be able to treat Humanise() as a special case of {F("Humanise")}, where we automatically set helpful values calculated from the original number and the translator does the rest using a `Humanise` script.

It would be another major re-write / disruption for translators but should be possible. Much of the work that has gone into huma

[2021-12-28 09:07] richardbuckle commented on #2294
I think it would be important to get feedback from the other translation teams before embarking on such a radical overhaul. There are bound to be further language-specific issues that we are unaware of.

[2021-12-28 20:19] Darkcyde13 opened #2296 "Mission redirected bug"
## What's Wrong (please be as specific as possible)

### Expected
Multiple mission redirections to be ignored.

### Observed
Multiple mission redirections, in quick succession, are all voiced.

### Steps to reproduce
1. Take multiples of the same mission.  In my case, Robigo passenger missions.
2. When a redirect happens, the script appears to fire simultaneously, thus ignoring any change of SetSt

[2021-12-28 21:57] Darkcyde13 commented on #2296
I've made a couple of adjustments to the test code and modified the check for `event.name` to be `miss.invariantTags[0]`, then done another run.  This time I waited about 5 seconds after dropping out of SC before I targeted the beacon to scan it.

This is the updated code:
[code]

I also added 'Ignored' to the first IF block, so I could see when everything was working as it should.  This is the re

[2021-12-30 05:59] Tkael commented on #2296
Regarding `{event.name}`, I was able to identify a problem there. We expected the journal property to be titled "MissionName" but it is instead titled simply "Name" (this was apparently an undocumented journal change that we had missed). Corrected for the next release.

I'll add some code to suppress multiple redirects targeting the same new destination system and station for the next release.

[2021-12-30 06:33] #2296 closed, assigned to Tkael

[2021-12-30 06:35] Tkael commented on #2296
{SetState()} isn't very effective for this purpose because speech processing is performed by multiple threads in parallel. This change adds additional suppression prior to speech parallelization.

[2021-12-30 06:41] Tkael commented on #2294
I've sent a message to our proofreaders on CrowdIn to request additional feedback before we implement any changes.

[2021-12-30 08:15] #2279 closed, assigned to Tkael

[2021-12-30 16:39] yucatan commented on #2294
I have to say that it's not that too hard to make the adjustments in the scripts to get the proper pronunciation in Portuguese. But I am not against such changes.

[2022-01-02 11:15] Transcan commented on #2294
I'm Spanish and in my case I had to write my own "Humaniza" function.
Spanish language has plurals and gender, and so do the number's spelling.

For example:
21 can be spelled as:
veintiún - male, singular
veintiuno - also male and singular but used in some cases
veintiunos - male, plural
veintiuna - female, singular
veintunas - female, plural.

And that is not a regular law. I mean, is difficult

[2022-01-03 16:52] Vip3rak opened #2298 "Limpet check script doesn't recognize multi limpet controllers"
## Limpet check script doesn't recognize multi limpet controllers

### Steps to reproduce
1.  Install multi limpet controller on ship
2. Click "test" on limpet check script.

### Expected
EDDI to remind me to buy limpets.

### Observed
Script either doesn't remind about having no limpets on board or reports having limpets but no controller.

### Configuration
  * EDDI Version:  4.0.1
  * EDDI's la

[2022-01-04 03:45] Tkael commented on #2298
Already implemented for the next release. o7 cmdr

[2022-01-04 03:46] #2298 closed, assigned to Tkael

[2022-01-04 04:30] Tkael commented on #2270
Bug found and squashed for the next release. o7

[2022-01-04 04:31] #2270 closed, assigned to Tkael

[2022-01-04 05:58] Tkael opened #2299 "`Ship interdicted` event uses raw symbolic interdictor names"
As an additional note to this, I've just been interdicted by a "Military System Defence Force" vessel, and I'm getting the bare base variable of "$ShipName_Military_Independent;" being spoken when I submitted to the interdiction.  This is using the {event.interdictor} variable in the Ship interdicted event script.  I note there is no default script for this event.

Granted I did have it as {P(even

[2022-01-04 06:11] Tkael commented on #2299
The same appears to be true for the `Ship interdiction` event.

[2022-01-04 06:11] #2268 closed, assigned to nobody

[2022-01-05 04:41] #2299 closed, assigned to Tkael

[2022-01-06 06:51] #1878 closed, assigned to richardbuckle, Tkael, GioVAX

[2022-01-06 06:51] #2058 closed, assigned to Tkael

[2022-01-09 01:33] ghost opened #2300 "Frontier API authentication is spawning a second instance of EDDI"
## What's Wrong (please be as specific as possible)
When trying to connect EDDI to Frontier, EDDI launches a browser instance, that directs to the Frontier Auth. service page. After login, a new instance of EDDI is launched. This causes an error stating that "Only one instance of EDDI can run at a time. Please close other instance and try again."
Thus, the connection to the API cannot be properly

[2022-01-09 01:56] Tkael commented on #2300
This is typically caused by a registry issue. Have you tried reinstalling EDDI?

[2022-01-09 10:25] ghost commented on #2300
Hi TKael - and thank you for replying.

Yes, I've tried to reinstall on top of the original installation. When that didn't solve the issue I uninstalled EDDI and reinstalled it. Issue still occurs.
Should I cleanup the Registry after uninstall? If so, can you list the REgistry key that needs to be removed, or should I simply "search and destroy" for anything EDDI?

[2022-01-09 10:43] ghost commented on #2300
Ok, problem solved.

First, I uninstalled v.4.0.1, and then installed v.3.5.2 (it was the latest previous version I had available at hand).

At statup EDDI informs that a mandatory update is available, but I could still access the Frontier API configuration tab. However, I was warned that EDDI ran in Administrator mode, and that it could affect the communication between the browser and EDDI. I tri

[2022-01-09 10:43] #2300 closed, assigned to nobody

[2022-01-09 21:24] Tkael opened #2301 "Implement new EDDN schema - CodexEntry"
## What happens now
`CodexEntry` events are not sent to EDDN.

## What I'd like to happen
Send `CodexEntry` events to EDDN

## How it can happen
https://github.com/EDCD/EDDN/blob/live/schemas/codexentry-v1.0.json
https://github.com/EDCD/EDDN/blob/live/schemas/codexentry-README.md
We will need to enhance location tracking in the EDDN responder to include `BodyName` and `BodyID` property updates, wh

[2022-01-10 01:36] Tkael commented on #2300
Yes, I'm remembering now that administrator mode can make a difference (EDDI and the browser need to be running in the same mode). Nice sleuthing.  o7

[2022-01-10 06:00] Tkael opened #2302 "Implement new EDDN schema - FSSDiscoveryScan"
## What happens now
`FSSDiscoveryScan` events are not sent to EDDN.

## What I'd like to happen
Send `FSSDiscoveryScan` events to EDDN

## How it can happen
https://github.com/EDCD/EDDN/blob/live/schemas/fssdiscoveryscan-v1.0.json
https://github.com/EDCD/EDDN/blob/live/schemas/fssdiscoveryscan-README.md
We will need to enhance location tracking in the EDDN responder to include `BodyName` and `Body

[2022-01-10 06:02] Tkael opened #2303 "Implement new EDDN schema - NavBeaconScan"
## What happens now
`NavBeaconScan` events are not sent to EDDN.

## What I'd like to happen
Send `NavBeaconScan` events to EDDN

## How it can happen
https://github.com/EDCD/EDDN/blob/live/schemas/navbeaconscan-v1.0.json
https://github.com/EDCD/EDDN/blob/live/schemas/navbeaconscan-README.md

## EDDI Version
4.0.1

[2022-01-10 06:03] Tkael opened #2304 "Implement new EDDN schema - NavRoute"
## What happens now
`NavRoute` events are not sent to EDDN.

## What I'd like to happen
Send `NavRoute` events to EDDN

## How it can happen
https://github.com/EDCD/EDDN/blob/live/schemas/navroute-v1.0.json
https://github.com/EDCD/EDDN/blob/live/schemas/navroute-README.md

## EDDI Version
4.0.1

[2022-01-10 06:04] Tkael opened #2305 "Implement new EDDN schema - ScanBaryCentre"
## What happens now
`ScanBaryCentre` events are not sent to EDDN.

## What I'd like to happen
Send `ScanBaryCentre` events to EDDN

## How it can happen
https://github.com/EDCD/EDDN/blob/live/schemas/scanbarycentre-v1.0.json
https://github.com/EDCD/EDDN/blob/live/schemas/scanbarycentre-README.md

## EDDI Version
4.0.1

[2022-01-10 06:06] Tkael commented on #2294
Thank you @yucatan  and @Transcan for your feedback. I'll keep thinking about this. Also happy to hear from any other translators who haven't weighed in yet!

[2022-01-13 19:36] Tkael opened #2307 "Signal sources evaluation"
## What's Wrong (please be as specific as possible)

@T'kael (EDDI)  looking at https://github.com/EDCD/EDDI/blob/develop/DataDefinitions/SignalSource.cs there could be some improvements. As far as I've found, all easy/medium/hard signals have a threatlevel ingame. the USS_ThreatLevel is possibly only for missions, but always match up with easy/medium/hard.

the code only detects threat levels for

[2022-01-15 21:19] Perlig opened #2308 "Incurred bounty not reset after paying at interstellar factor"
How to repeat:
- incur a bounty for shooting at a clean ship
- jump to another system with an interstellar factor and pay bounty there
- return to original system or another system with the same controlling faction
- "Crime check system" script warns "You are wanted in this system"
- Crime monitor still lists the bounty although paid

Workaround:
- Manual deletion

[code]

[2022-01-15 21:29] Ageingjedi opened #2309 "Installed tts voice from Cereproc and volume goes loud randomly"
## What's Wrong (please be as specific as possible)
Installed Caitlin tts voice from Cereproc and volume goes loud randomly when using EDDI
### Expected
[Describe what you expected to happen]
Volume for installed tts voice to remain level
### Observed
[Describe what actually happened. Feel free to add screenshots, link to videos, etc to help explain what happened]

### Steps to reproduce
1. [Give

[2022-01-15 22:04] Darkcyde13 commented on #2308
I believe this is a known 'problem', and it's not EDDI's fault.  For EDDI to clear any paid fines or bounties, it has to match the payment to the record in the monitor.  To do this, it needs to know the amount and the faction(s) involved, so that it can delete the correct entry.

As you can see in your Journal logs, when paying the fine, there is no faction listed (it just says 'Independent').  Th

[2022-01-15 22:42] Perlig commented on #2308
I'm aware of the data deficiency in the PayBounties event. Let's not view it as a bug report, but a feature request.

There is some data included, specifically the amount of the bounty. In many/some cases it can be deduced which bounty has been paid. Simply going through the list of incurred bounties, find a matching entry with this value, and if it's the only one with this value, delete it. Other

[2022-01-15 23:54] Tkael commented on #2309
I'm not sure how to replicate this? Is Caitlin always loud in EDDI or only sometimes?

[2022-01-15 23:55] Tkael commented on #2309
If you switch to different speakers, does this still occur?

[2022-01-15 23:59] Tkael commented on #2308
The trouble is that there is often no single entry that matches the value paid so no easy identification can be made (you might have other 100 cr bounties recorded, with only that single data point we may not be able to match the payment to the record).

[2022-01-16 00:04] Tkael commented on #2308
Essentially, I think that what is occurring is that some crimes are being converted to superpower bounties but no journal event records that transaction / conversion.

[2022-01-16 00:11] Tkael commented on #2308
The circumstances that trigger that conversion are unclear, but certainly seem to be more common in Odyssey than in Horizons.

[2022-01-16 10:47] Ageingjedi commented on #2309
[eddi_issue.zip](https://github.com/EDCD/EDDI/files/7876763/eddi_issue.zip)
Hi. Thanks for the reply. Have seen I can attach an output from EDDI for you. Issue occurs when on headset or on but in speaker.

It is the volume level not being constant when EDDI talks during a game of ED. If I'm scanning planets, I get a lot of speech from EDDI about planets, and intermittently, the volume can go up a

[2022-01-16 11:36] Perlig commented on #2308
It will certainly not be possible to cover all cases. But at least for my playstyle, where I have usually only one bounty when I pay it at an interstellar factor, it would solve the problem to 100%. And the proposed solution is pretty simple.

[2022-01-16 14:17] Tkael commented on #2309
Thank you for the logs and screenshot. Unfortunately, I'm not able to find anything amiss in either. 🤔

While it is possible to affect speech volume with commands in the Speech Responder, I expect that you're probably using the default scripts. If you are using your own personality...
- Are there specific scripts that are always loud?
- Does the problem persist if you switch to the default persona

[2022-01-16 16:13] Ageingjedi commented on #2309
Thanks for checking this out. Am not knowledgeable enough to use anything but the defaults. Suspect it may be a quirk of the tts voice I purchased from Cereproc and is not terrible, just a bit annoying that the volume doesn’t stay at the same level. EDDI works well otherwise and is a good app to have when doing long expeditions in ED. Just needed to change from the default windows tts voices. Plea

[2022-01-16 16:13] #2309 closed, assigned to nobody

[2022-01-17 03:25] #2307 closed, assigned to Tkael

[2022-01-18 18:25] Deadweasel opened #2310 "Event responder or internal webpage server that provides a ship "dashboard""
## What happens now
EDDI talks and handles data movement between journals and status files and external concerns such as EDDB and Inara as usual

## What I'd like to happen
I already use EDDI with every E:D session, and I've been also attempting to create a touchscreen dashboard for additional info that isn't so quick or easy to review in-game, but EDDI is already reading these elements; I just ne

[2022-01-18 19:19] Tkael commented on #2310
EDDI focusses on providing feedback primarily via audio rather than via panels. I don't think this suggestion is something that is within the scope we're maintaining for this project. If you're looking for a plugin interface for your dashboard then EDDiscovery or EDMC might be better options?

What problem is the dashboard attempting to solve exactly?

[2022-01-19 00:23] richardbuckle commented on #2310
I agree that it's out of scope for EDDI. It is a great idea but I think EDMC or EDDiscovery would be a better platform.

[2022-01-19 00:23] #2310 closed, assigned to nobody

[2022-01-19 00:24] richardbuckle commented on #2310
There is also the GameGlass stuff if you want to save the time.

[2022-01-19 20:12] Deadweasel commented on #2310
Ah, I understand, but thanks for at least considering it! ;)

Currently the dashboard is just an interactive touchscreen that's trying to provide more at-a-glance info than some of the other projects out there.  Eventually I'd like to have it providing a comprehensive ship status overview that makes it quick and easy to see the detailed status of modules and functions.
In combat, I might be able t

[2022-01-22 23:14] dukenewcombe opened #2311 "Speech Responder Currently Active"
## What happens now
Within voice attach you can "wait until the command is finished"; however when I use the external plugin, using the say context only takes a (arbitrary) second. Say I want to get two reports, but the second should be 15 secs after the first one, I don't see a way to achieve this... currently if I place a pause in VA it will be 15 secs from what is essentially the start of the f

[2022-01-23 00:42] Tkael commented on #2311
Check this out?
{BOOL:EDDI speaking}: true if EDDI is currently speaking

[2022-01-23 08:25] Tkael commented on #2310
It is probably worth noting that EDDI does not have real-time information on module integrity values. FDev have asked us to use the Frontier API endpoint (which is the sole source of that information) sparingly so we typically update information from the Frontier API when you dock.

[2022-01-24 09:28] dukenewcombe commented on #2311
I hadn't seen that one in the wiki, but definitely what I need. Brilliant!

Love your work mate!

[2022-01-24 09:55] #2311 closed, assigned to nobody

[2022-02-02 23:36] Darkcyde13 opened #2313 "Engineer Contributed missing variables"
## What's Wrong (please be as specific as possible)

### Expected
Engineer Contributed to correctly report the materials used to unlock an engineer.  Specifically the Sensor fragments for Chloe Sedesi.
Expected "Chloe Sedesi thanks you for contributing 25 units of Sensor Fragments"

### Observed
The script resulted in "Chloe Sedesi thanks you for contributing of.", missing the amount, units, and t

[2022-02-03 05:21] Tkael commented on #2313
Thanks for reporting. This will be fixed in the next update. o7

[2022-02-03 05:23] #2313 closed, assigned to Tkael

[2022-02-04 13:50] conorb69 opened #2314 "EDDI crashing VA"
## What's Wrong (please be as specific as possible)
Voice attack randomly crashing with no notification. Only happens when I have EDDI plugin running and when I jump. I'm running version 4.01 of EDDI and have tried bothe stable and beta release of VA. Have uninstalled and reinstalled EDDI, HCS Voice pack and VA but the issue persists. I'm running Horizons (No Oddysey).

### Expected
EDDI to remain

[2022-02-04 18:07] Tkael commented on #2314
The timestamps for the VoiceAttack and EDDI logs don't sync up. When did the crash actually occur?

EDDI is typically quite good about logging exceptions that lead to a crash. There is nothing in the EDDI logs that would indicate a fault in EDDI precipitated a crash.

The VoiceAttack logs point to an exception that occurred during an invokation and speech recognition.

If you disable the VoiceAtta

[2022-02-04 18:22] conorb69 commented on #2314
Thanks Brian - I'll try with a different profile and let you know.

[2022-02-04 21:31] Darkcyde13 opened #2315 "Add scanned timestamps to void entries, after an FSSAllBodiesFound Journal event"
## What happens now
When out exploring, sometimes bodies are scanned in-game (usually by the initial auto-scan when in range) but they don't seem to get a corresponding Journal entry, and as such there is no timestamp for `.scanned`, and EDDI doesn't think the body has been scanned, yet it cannot be scanned again to obtain a timestamp.

## What I'd like to happen
In these instances, I'd like the F

[2022-02-04 23:00] Tkael commented on #2315
In my experience there typically is a `Scan` event for auto-scanned bodies. Furthermore, if this is a previously unexplored system then what created the bodies in EDDI in the first place if not a `Scan` event? Did you map the bodies?

Would you please provide the full journal.log where this occurred?

[2022-02-05 00:44] Darkcyde13 commented on #2315
Yeah, this is what had me confused.  It was my first visit to the system according to EDDI, and I did the honk immediately on arrival.  I then opened up the FSS to start scanning, and saw that the gas giants and a couple of others were already scanned (showing as dots on the bar at the bottom).

After completing the system scan of all bodies, I ran some test code to see which had a valid `.scanned

[2022-02-05 04:46] Tkael commented on #2315
I'm fine with making a change like you've proposed (the primary effect would be a change to the estimated value for scans from that system) but I'd like to understand a little more fully why we're seeing what we're seeing.

So it looks like this system had been discovered by other commanders before.
Take body 1 for example: <https://www.edsm.net/en/system/bodies/id/306074/name/HIP+22909/details/id

[2022-02-05 12:58] Darkcyde13 commented on #2315
Yes, I'm sure all bodies were scanned.  The FSS screen said 100% and there were no more blips on the scan frequency line.

But you may be right about it not actually being my first visit.  That had occurred to me too.  I was wondering if maybe it was a system I had visited way back near the start of the game, around 2014-2015, when system scanning was very different and you had to manually search

[2022-02-06 01:46] #2261 closed, assigned to Tkael

[2022-02-06 01:48] Tkael commented on #2315
A prior visit not captured by your journal records seems like it may be the most plausible explanation then. Thanks for checking, o7. I'll go ahead and make the proposed change for the next release.

[2022-02-06 02:03] #2315 closed, assigned to Tkael

[2022-02-06 02:04] Tkael commented on #2314
Hi @conorb69, any updates?

[2022-02-06 02:24] #2308 closed, assigned to Tkael

[2022-02-06 15:18] conorb69 commented on #2314
I've tried using my own VA profile and with the EDDI plugin enabled and it seems to work fine now. Done about 40 jumps with no issues. It seems it may be an HCS issue rather than EDDI. Would be grateful if you could please close this issue. Thanks.

[2022-02-06 16:23] CRD716 opened #2316 ""You are carrying limpets but no limpet controller""
## What's Wrong (please be as specific as possible)
While carrying limpets with a rescue limpet controller onboard, the message will be sprung.
### Expected
[Describe what you expected to happen]
EDDI reminds you to bring limpets, and if you have them it says nothing.
### Observed
[Describe what actually happened. Feel free to add screenshots, link to videos, etc to help explain what happened]
Nea

[2022-02-06 22:30] Tkael commented on #2316
This is a known issue where EDDI does not yet recognize the new rescue limpet controller. Will be fixed in the next release. o7

[2022-02-06 22:30] #2316 closed, assigned to nobody

[2022-02-06 22:31] Tkael commented on #2314
Done. o7

[2022-02-06 22:31] #2314 closed, assigned to nobody

[2022-02-07 11:46] EmporiaHall opened #2317 "Eddi not registering multi-function limpet controllers"
nor is it detecting the weapons on guardian fighters

[2022-02-07 15:12] Tkael commented on #2317
Multi function limpets controllers will be added in the next update.

Guardian fighter loadouts should be supported now. Please provide more details about the specific Guardian fighter that is not being parsed correctly. Please also provide a debug log where you trigger the fighter logout description with the Frontier API enabled so that we can review the data being reported to EDDI.

o7

[2022-02-11 04:55] lcns-dev opened #2318 "Monitor"
Boa noite,

O monitor de crimes não está atualizando mas a voz funciona!

Att,

[2022-02-11 05:20] Tkael commented on #2318
Boa noite.
Por favor, reenvie esta solicitação usando o modelo de problema ("New Issue" Template => "Bug Report" Template) e inclua uma cópia de seus arquivos .log para análise.
Obrigado. o7

[2022-02-11 05:20] #2318 closed, assigned to nobody

[2022-02-19 15:30] Darkcyde13 opened #2322 "Station name recorded by `CommunityGoal` event doesn't match `Docked` event."
## What's Wrong (please be as specific as possible)

### Expected
StationDetails() to provide details for all stations.

### Observed
StationsDetails() fails to provide details for stations with single quotes in the name.

### Steps to reproduce
1. Check details of a station using StationDetails() and use a station with single quotes in the name.

### Configuration
* Version [Please give full vers

[2022-02-19 17:59] barateza opened #2323 "EDSM error received: Commander name/API Key not found"
I see this error comes from time to time but I'd like to report anyway to understand whether this is an error on EDSM side or EDDI.

Verbose log is attached.

[eddi_issue.zip](https://github.com/EDCD/EDDI/files/8102711/eddi_issue.zip)

[2022-02-20 10:39] Thedoczek opened #2325 "DiamondbackX showing up as AspX on ship list"
### Expected
Is should appear as Diamondback Explorer

### Observed
It appears as Asp Explorer
![image](https://user-images.githubusercontent.com/69758777/154838581-42a1a7c2-8392-4872-87a0-bcb9c0bdcd4f.png)
On this image, Gozov Ratter is my exploring ship, and is a Diamonback Explorer. Yastarn Miner is my mining ship and is normal AspX. Both ships show up as Asp.

### Steps to reproduce
1. Buy DX

[2022-02-20 19:24] Tkael commented on #2325
I don't suppose you might have two separate accounts for Elite Dangerous? Your shipyard data could become corrupted if you switch Frontier API accounts or sign in using an account which doesn't match your active commander.

Best fix if this has occurred is to navigate to `%AppData%/EDDI` and delete `shipmonitor.json` while EDDI is not running. The file will be rebuilt the next time you run EDDI.

[2022-02-20 19:25] #2325 closed, assigned to nobody

[2022-02-20 19:58] Tkael commented on #2323
Here's what I'm finding in the log:
`2022-02-19T17:54:34 [Warning] StarMapService:SetEdsmCredentials EDSM Responder not configured: API key not set.`

It looks like you have not fully configured the EDSM responder. This means that we cannot synchronize your flight log from your EDSM account. If you do not have an EDSM account or do not wish to synchronize flight logs then you can safely disregard

[2022-02-20 19:58] #2323 closed, assigned to Tkael

[2022-02-20 20:24] Tkael commented on #2322
While an interesting hypothesis, the station name is being parsed correctly.
![image](https://user-images.githubusercontent.com/4382539/154862097-69be57c0-7b52-43d0-b2f8-324f487de05d.png)

Your test fails because because the station name doesn't match the spelling from EDSM.

You wrote: `Henry O'Hare's Hanger`
The EDSM name: `Henry O'Hare's Hangar` (with `a` rather than `e` in `Hangar`).

The name

[2022-02-20 20:36] #2322 closed, assigned to Tkael

[2022-02-20 20:46] Darkcyde13 commented on #2322
Gah! Please accept my apologies, I didn't notice that typo, even after looking over it several times.

[2022-02-20 20:57] Tkael commented on #2322
It's not really your fault. The journal events aren't consistent.

[2022-02-23 01:35] barateza opened #2326 "JournalMonitor:ParseJournalEntry Object reference not set to an instance of an object."
[eddi_issue.zip](https://github.com/EDCD/EDDI/files/8121268/eddi_issue.zip)

I am receiving the errors below on the verbose log:

`JournalMonitor:ParseJournalEntry Object reference not set to an instance of an object.`
`ScriptResolver:resolveFromValue Exception has been thrown by the target of an invocation.`

I noticed it via the text-to-speech feature, the AI started talking about errors and exc

[2022-02-24 04:40] Tkael commented on #2326
[code]
This is an exception that is thrown for commanders running Horizons. A fix has already been implemented and is pending release.

[code]
A Windows system exception appears to have occurred. You might want to revalidate your windows installation files to verify that Windows files have not become corrupted. See <https://support.microsoft.com/en-us/topic/use-the-system-file-checker-tool-to-repa

[2022-02-24 04:40] #2326 closed, assigned to Tkael

[2022-02-25 20:32] Tkael opened #2327 "Implement star system data retrieval from Spansh?"
## What happens now
Star system data is sourced from EDSM. EDSM data is bound to user accounts and may not be retained for accounts deactivated due to inactivity. Further, the EDSM API is rate limited and rate limiting has a dramatic impact on service query search times.

## What I'd like to happen
Consider transitioning from EDSM to a more comprehensive / more complete data source.

## How it can

[2022-02-27 00:17] Darkcyde13 opened #2328 "Swapout check error"
## What's Wrong (please be as specific as possible)

### Expected
Swapout check have no errors

### Observed
Sometimes Swapout check is giving this error: "Error with Swapout check script: Value cannot be null.
Parameter name: source"

### Steps to reproduce
1. Land at a station
2. Listen to see if the error occurs.

### Configuration
* Version [Please give full version numbers here, not just "lat

[2022-02-27 02:55] Tkael commented on #2328
The problem here may not be with your ship but rather a problem with parsing station outfitting (is `station.outfitting` null when this occurs? If not, is there a null value included in the outfitting list?). I think we've seen this before after new modules were introduced and not yet incorporated into EDDI's data definitions.

[2022-02-27 11:16] Darkcyde13 commented on #2328
Ahh, ok.  That makes sense.  Is there any way I can get a list of the `station.outfitting` data for you?  Would setting logging to verbose do it?

I also noticed these errors in the `eddi.log`.  I had initially attributed them to the new multi limpet controllers (which you know about) so ignored them, but on looking again, there are mentions of colors.  Would these be for things like engine/weapon

[2022-02-27 11:24] Tkael commented on #2328
Verbose logging might capture the data that would be parsed to create `station.outfitting`.
The colors are from decorative flak launchers released over the holidays with the Winking Cat hunts. Once again, these should disappear once we're able to update the definitions.

[2022-02-27 14:00] Darkcyde13 commented on #2328
Well, I've done 4-5 trips and it's not happening this morning.  I tried both with the EDDI default and my personality.  I'll give it another go later today. :/

[2022-03-01 21:22] Darkcyde13 commented on #2328
I've tried this several times over the last couple of days, and it's not happening anymore.  No idea why it would start then suddenly stop, and no idea if it will start again at another station.  But if it's an FDev thing, there's not a lot you can do about it, and I'll just have to live with it I guess, unless there is anything you can do to mitigate null entries returned to EDDI in the outfittin

[2022-03-04 16:43] M4DMAXX opened #2330 "Error with FSD engaged"
I got this Error:

Error with FSD engaged script: Exception has been thrown by the target of an invocation.

I read in an older forum post that not setting a Homesystem can cause this but it dont help me.

I used EDDI and a German Profile since 2 years. But now i wanted to change to english.

I use the Zira Voice and the default EDDI Profile.

[2022-03-04 16:51] M4DMAXX commented on #2330
https://pastebin.com/JjpgHBk3 Here the log file

[2022-03-04 16:54] M4DMAXX commented on #2330
https://controlc.com/15fa3c96 Log file

[2022-03-04 20:16] Tkael commented on #2330
I don't think it has anything to do with setting your home system. The materials data associated with the star system appears to have been in an invalid state but the cause of the invalid state is unclear. I'll have to think about potential causes.

[2022-03-04 20:16] Tkael commented on #2328
Possibly. I'll have to think about what could be going wrong here.

[2022-03-10 19:18] Wolfang42 opened #2331 "EDDI 4.0.1 crashing VoiceAttach when running as a plugin"
EDDI 4.0.1 runs just fine in standalone mode.  It is installed in the APPS folder of VoiceAttack. However, when loading VoiceAttack, it crashes to desktop after trying to load in the EDDI plugin.  This happens in the current release version of VA v1.8.9 64-bit as well as the current beta version v1.9.9.95 64-bit.  Logs attached
[eddi_issue.zip](https://github.com/EDCD/EDDI/files/8226387/eddi_issue

[2022-03-11 15:21] alterNERDtive commented on #2331
As investigated on EDCD Discord, it’s an issue with Amazon Polly voices. Those are 64bit only, so it doesn’t happen when run standalone.

Relevant log files: https://discordapp.com/channels/164411426939600896/353595704658231299/951593057680252999

[2022-03-14 05:28] Tkael commented on #2330
I believe this is a known issue which has already been resolved for the next release by www.github.com/EDCD/EDDI/commit/34234d9a875b704fd21bfb7b8c3aa362b25a5f91. o7 commander

[2022-03-14 05:28] #2330 closed, assigned to Tkael

[2022-03-14 06:29] #2328 closed, assigned to Tkael

[2022-03-14 06:31] Tkael commented on #2328
I think I was able to replicate the issue by adding a null item to the outfitting modules list. I've added a little more protection against this scenario for the next release. o7

[2022-03-14 16:57] Darkcyde13 commented on #2328
Awesome!  Thank you! :)

[2022-03-15 17:50] M4DMAXX commented on #2330
Thx

[2022-03-16 00:35] Tkael opened #2332 "Journal v33 Updates"
- [x] the following events have a new bool value Telepresence: ChangeCrewRole EndCrewSession CrewMemberJoins CrewMemberQuits CrewLaunchFighter CrewMemberRoleChange JoinACrew QuitACrew KickCrewMember
- [x] LaunchSRV, DockSRV and SRVDestroyed events now add a new value "SRVType" (from Oct 2021 update)
- [x] when scanning one body of a binary pair, you will now get an event detailing the orbital para

[2022-03-22 01:13] Tkael commented on #2212
[This](https://ed-dsn.net/en/conditions-of-emergence-of-exobiological-species-on-planets-a-atmosphere-fine/) looks useful enough to consider giving this another look.

[2022-03-22 04:41] Tkael commented on #2212
The EliteObservatory BioInsights plugin also tracks distances to prompt the commander when they have traveled enough to take a fresh surface biology sample (the required travel distances apparently vary by species genus).

[2022-03-30 03:16] Tkael opened #2336 "Divide by zero exception"
## What's Wrong (please be as specific as possible)

### Expected
Normal speech

### Observed
Divide by zero exception

### Configuration
* Version [Please give full version numbers here, not just "latest" or "current"]
  * EDDI Version: 4.0.1

## My Investigation

### Investigation Notes
This occurs when calculating the `solarday` property of the body and seems to only be possible if the orbital

[2022-03-31 21:16] TheProphet-S opened #2337 "Can't open companion app"
## Can't open companion app, EDDI plugin starts in Voiceattack, but the window with option etc. does not open anymore.

### Expected
Open EDDI settings
### Observed
I see EDDI's icon on the traybar, but the window does not show.
![screen](https://user-images.githubusercontent.com/61625500/161150520-7b443257-1fa1-42d2-a5a5-b20fb7f00d68.png)

### Steps to reproduce
uninstalled and reinstalled EDDI

[2022-04-01 01:42] Tkael commented on #2337
Hmm... no errors recorded in the log when running in standalone mode (the mode you appear to have been using when you took the screenshot).

Perhaps the window is minimized or off screen?

Please hold down the LEFT SHIFT button and then right click on the tray icon. You should see a menu come up with options like `Restore`, `Move`, `Size`, `Minimize`, `Maximize`, and `Close`.
![context_menu](https

[2022-04-03 21:05] Tkael opened #2338 "Auto-Generate Variables.md"
## What happens now
- Variables.md is manually written.

## What I'd like to happen
1) Auto-generate variables.md
2) Document variable types (string, object, integer, decimal, boolean, etc.)
3) Document various objects that allow users to obtain invariant names
4) Document the possible values of localized and invariant names
5) Syntax highlighting should include and distinguish object properties

[2022-04-03 21:06] Tkael commented on #2337
@TheProphet-S Any updates on this?

[2022-04-03 21:26] TheProphet-S commented on #2337
Hi, I managed to open the window with "Maximize", move didn't work. Thanks for the tip :-)

[2022-04-03 21:26] #2337 closed, assigned to nobody

[2022-04-04 18:55] TerribleTony commented on #2261
I'm having this exact problem after downloading voice attack through steam and setting up the EDDI plugin about a week ago. I see that issue is closed, I'm wondering if there has been a reversion since then or if I dont have the correct version installed now. This is the only thread online I can find that discusses this problem. Any advice welcome.
to be specific  {INT:System total bodies} and {IN

[2022-04-09 06:14] shodanx2 opened #2339 "Easy to find keyboard shortcut to immediately silence EDDI text to speech add on"
I imagine most users have no choice but to permanently disable all text to speech function

A "shut up immediately" button would allow text-to-speech to remain usable.

[2022-04-09 11:15] Darkcyde13 commented on #2339
You can always set up VoiceAttack (assuming you use it) to run the 'shutup' command, and assign a keyboard key to it.  You can find information on this here: https://github.com/EDCD/EDDI/wiki/VoiceAttack-Integration#shutup

For a more permanent silencing, you can use 'disablespeechresponder' instead.  With the right VA command, you could use this as a toggle along with 'enablespeechresponder'.  In

[2022-04-09 23:59] Darkcyde13 opened #2340 "Salvation's 'Secret' CG stuck in mission monitor"
## What's Wrong (please be as specific as possible)

### Expected
Missions and Community Goals to be removed from the Mission Monitor if none exist when loading your game.

### Observed
The recent 'secret' CG for Salvation remains in the Mission Monitor even after completion, and there is no way to remove it in the EDDI interface.

### Steps to reproduce
Not really reproduceable now, as the CG is

[2022-04-10 03:11] Tkael commented on #2339
Thank you for the suggestion, you are not the first to request this (please see #197). Closing as a duplicate of an existing item. o7

[2022-04-10 03:11] #2339 closed, assigned to nobody

[2022-04-10 03:19] Tkael commented on #2340
Normal missions are removed when you next log in and a new 'Missions' journal entry is written. That entry omits community goal events so at the time being community goal events are removed either
- When we receive an event indicating that you've claimed the reward or
- When we see a `CommunityGoal` event summarizing the currently active community goals and it does not include a community goal we

[2022-04-10 03:44] shodanx2 commented on #2339
Thanks, if there's an issue with EDDI registering a hotkey, would it be possible to make a "shutup" hotkey with AutoIT ? I don't have voice attack

[2022-04-10 07:56] shodanx2 commented on #197
Hello,
This issue is probably making most EDDI users just disable all text to voice on their first session.
How does VA tell EDDI to "shutup"  ?
Surely that can be emulated with random hotkey software like AutoIT ?

Or maybe from a command line like  EDDI.exe -shutup  and just invoke that from AutoIT.

[2022-04-10 09:56] Tkael commented on #197
At the moment, it is not possible to do this from either a hotkey or from the command line. The VoiceAttack plugin command directly invokes a method in the SpeechService class.
https://github.com/EDCD/EDDI/blob/79121ebfabaee879c35961cc164a9124cdb24aef/VoiceAttackResponder/VoiceAttackPlugin.cs#L872-L886

[2022-04-10 11:21] Darkcyde13 commented on #2340
Hmm, tough choice.

On the one hand, I'd say go for the 'automatic' method of temporarily removing them at start of game as this requires no user input, but the downside to that is for those of us who have mission/CG reports on game start.

On the other hand, having a button to remove old missions isn't a bad idea.  While it does require user input, so does removing old crime entries from the crim

[2022-04-10 11:33] Darkcyde13 commented on #2339
There is a free 'trial' version of VoiceAttack.  It's only limited to one user profile, and 20 commands in that profile, but other than that, it's a fully functioning version.  If you only want it to make EDDI shutup, you can easily use the free version to do that.

[2022-04-10 11:44] Darkcyde13 commented on #2339
I've had a (very) quick look at AutoIT.  You might possibly be able to do it with that I guess.  From what I can tell after only a cursory glance over it (so I may be way off here), you would have to have EDDI open on a second screen, and get AutoIT to use your mouse to select the Speech responder tab, and then click the Plugin enabled check box to deactivate the plugin.  However, I don't know how

[2022-04-23 23:08] #2317 closed, assigned to nobody

[2022-04-25 06:26] Tkael commented on #2340
A CG report at game start won't provide up-to-date data until a fresh event is written anyways, so I'm going to try the automatic option (which will handle removing "stuck" goals).

[2022-04-25 06:43] #2331 closed, assigned to nobody

[2022-04-25 06:43] #2336 closed, assigned to nobody

[2022-04-25 06:43] #2340 closed, assigned to nobody

[2022-04-25 17:28] Darkcyde13 commented on #2340
The only thing my CG report does on game start is to simply say that I have one, it doesn't give any other data.  Well, thanks for adding this auto removal, it will be helpful. :)

[2022-05-03 03:20] #2303 closed, assigned to Tkael

[2022-05-03 03:20] #2304 closed, assigned to Tkael

[2022-05-03 03:20] #2305 closed, assigned to Tkael

[2022-05-03 03:20] #2302 closed, assigned to Tkael

[2022-05-10 03:03] Tkael commented on #1490
https://github.com/Xjph/ObservatoryCore/blob/master/ObservatoryExplorer/DefaultCriteria.cs

[2022-05-11 08:02] netchild opened #2341 "EDDI crashes when clicking on "get route" or "next in route""
Hi,

take 2 passenger mission with more than 1 destination each, click on "get route" or "next in route". EDDI crashes.

Bye,
Alexander.

[2022-05-11 14:06] Tkael commented on #2341
Please provide your log files from `%APPDATA%/EDDI` to help identify the source of the crash?

Please also review the bug report issue template and add missing information from that template to this ticket? See https://github.com/EDCD/EDDI/blob/develop/.github/ISSUE_TEMPLATE/bug_report.md

[2022-05-11 15:11] netchild commented on #2341
[eddi1.log](https://github.com/EDCD/EDDI/files/8671086/eddi1.log)
[eddi3.log](https://github.com/EDCD/EDDI/files/8671105/eddi3.log)

Version 4.0.1
Language set to English.

[2022-05-13 06:16] Tkael commented on #2341
EDDI appears to be having a problem setting the contents of your clipboard. Since the clipboard method is tied into the front-end UI in version 4.0.1, an exception there seems to be cascading and causing the UI thread and ultimately the entire application to fail.

It's not clear to me why EDDI is failing to set the clipboard. What Windows version are you running? Are you aware of anything in your

[2022-05-13 07:58] netchild commented on #2341
Windows 10 with a microsoft account. Clipboard settings are NOT set to sync into the cloud / sync to all devices. And no clipboard history activated.
No idea what may prevent the setting of the clipboard. Firefox is able to set the clipboard (e.g. the button on Inara to copy the system name to the clipboard).

[2022-05-14 04:55] Tkael commented on #2341
Intriguing. Similar to my own setup (and likely also similar to that of many others). I'm curious - is the issue repeating every time that you try it or was occurring during one particular game session only? Have you rebooted your PC since then and if so does the issue still occur?

[2022-05-19 09:26] netchild commented on #2341
That was the first time I tried it. Same ED session, tried several times with restarted EDDI.

Now I tried it again (several reboots since then), and now it doesn't crash but tells it is unable to calculate the missions route... so not really reaching the failure case with the clipboard.
![eddi_missions](https://user-images.githubusercontent.com/3617760/169260796-24ae8813-d591-48a9-9bf3-5f238e2a93

[2022-05-31 13:12] Transcan opened #2342 "Way to save variables across sessions"
## What happens now
You can create State variables that can be used in different scripts, but they are lost when EDDI closes.

## What I'd like to happen
I would love a way to store a variable that will be retrieved even if EDDI was closed.

## How it can happen
It can be implemented the same way missions and crime & punishment are stored across sessions.
It can even have an user interface to see/

[2022-06-02 03:12] Tkael commented on #2342
This is already possible with VoiceAttack to some extent (if you use VoiceAttack).
Some users also store configuration preferences in a script and invoke that script when they want to initialize their default configuration settings.
Would either of these options suit your current use case?

[2022-06-03 23:08] Transcan commented on #2342
Yes, that is the way I use now. Just mentioned it as an added feature for the persistent variables.

My goal is to store an aprox. amount of exploration data credits through sessions (along other ideas).
I don't use VA, but if it lets you save some variables and load them in your next gaming session, I will gladly use it.

Where I can find an example or documentation about this? Never coded for VA

[2022-06-04 12:08] Darkcyde13 commented on #2342
At the top right of the VoiceAttack home [page](https://voiceattack.com/), there are links to 'Support' and 'How-To'.  These should be able to help you to start with.  The Support has links to the VA forum, where people will be able to help with any questions.

There are also some Frontier forum threads for both [EDDI](https://forums.frontier.co.uk/threads/eddi-3-3-bring-your-cockpit-to-life.38795

[2022-06-05 10:03] Tkael commented on #2342
You can use the `SetState()` [function](https://github.com/EDCD/EDDI/wiki/Help#setstate) to save a variable and make it available for both other scripts and VA. If you retrieve that variable in a VA command, VA allows you to persist that saved value between sessions.
You can then use the `setstate` [VA plugin context](https://github.com/EDCD/EDDI/wiki/VoiceAttack-Integration#setstate) to write tha

[2022-06-05 10:07] Transcan commented on #2342
Thank you both for the directions.
I will take a look at it, feels like is exactly what I want.

[2022-06-13 22:17] Californ1a commented on #2284
Same issue, I wanted to edit the "Bodies to map" script to only report a body as worth mapping if it was going to be >1m mapping value, before I took the time to go fly over to it and map it, but `body.estimatedvalue` seemingly only says the "current" value of the body (0 if it hasn't been scanned yet, and only the "base" scan value afterward; it won't say the potential scan value before FSS or th

[2022-06-19 00:33] Darkcyde13 opened #2345 "Small '.shortname' bug for body names"
## What's Wrong (please be as specific as possible)

### Expected
.shortname to give a suitable short name for a body.

### Observed
.shortname seems to simply strip out the system name from a full body name.  This is incorrect for certain bodies, like "Planet Lave", which becomes just "Planet", resulting in descriptions such as "Planet Planet" in scripts that use '{reportbody.bodytype} {reportbod

[2022-06-19 06:23] Tkael commented on #2345
Huh, nice catch. It should be an easy fix to adjust that algorithm.

As far as the use of 'Planet' within the proper name, it looks like there's a few of these but the others follow a different pattern.
![image](https://user-images.githubusercontent.com/4382539/174468483-e47464b5-b557-47b7-a7c0-b84e68e11b75.png)
![image](https://user-images.githubusercontent.com/4382539/174468745-9352704c-d957-4b4

[2022-06-19 10:29] Darkcyde13 commented on #2345
Yeah, that had occurred to me too, but I wasn't sure if it was 'Moon' or 'Luna', and I didn't think to check before I went to bed last night.

As for the body type being removed too, I was only thinking if it was at the start of the name, and in your examples, that only applies to 'Planet Lave'.  Having something like "Planet Thompson's Planet" (bodytype + bodyname) is perfectly fine, and if Lave

[2022-06-22 13:43] Klajan opened #2346 "ShipName() is localized even if it shouldn't be"
## What's Wrong
_"your ship" (EN)_ is localized to _"deine ship" (DE)_ even though EDDI language is set to English.
This only happens if launched through VoiceAttack beta.

### Expected
"your ship" should adhere to the language set in EDDI

### Observed
"your ship" is localized to German even though EDDI is set to English

### Steps to reproduce
1. launch EDDI as VoiceAttack Plugin.
2. speak ship

[2022-06-23 00:07] #2346 closed, assigned to Tkael

[2022-06-23 00:24] Tkael commented on #2346
This should be fixed for the next release. o7

[2022-06-23 00:52] Tkael commented on #2345
I'm happy to correct the issue so that `Planet Lave` is rendered as `Planet Lave` but I do not wish to meddle further - the variable should return the full proper name for the body even if that proper name contains a body type.

If you need to strip the body type from the proper name to improve the flow of your script then you already have the tools to do that at the script level. Sorry and I hope

[2022-06-23 00:55] #2345 closed, assigned to Tkael

[2022-06-23 01:18] Tkael commented on #2341
Since we resolved the crash issue I'm going to go ahead and close this ticket. The routing and clipboard functions are already under revision for the next release. o7

[2022-06-23 01:18] #2341 closed, assigned to Tkael

[2022-06-26 12:28] Darkcyde13 opened #2374 "Implement a CarrierDetails() function"
## What happens now
There doesn't appear to be any way to obtain details on your fleet carrier.

## What I'd like to happen
Have a CarrierDetails() function to provide these details.

## How it can happen
Parse the CarrierStats Journal entry to create the CarrierDetails() function, that would allow all carrier information to be available to EDDI scripting.

Example of the CarrierStats Journal entr

[2022-06-26 22:55] Tkael commented on #2374
There's a queryable Frontier API endpoint (which I believe would contain somewhat similar information). A `CarrierDetails()` function would probably pull from that. For `CarrierStats`, we'd probably just do a `Carrier stats` event.

I'm honestly not sure how much use I'd get out of the information if the data were available. How would you use it? Are there any secondary events that we could genera

[2022-06-26 22:56] Tkael commented on #2374
Related: #1828

[2022-06-27 18:23] Darkcyde13 commented on #2374
Hmm, well I was thinking recently about getting EDDI to tell me how much Tritium would be used when a jump was requested.  However, for that to be calculated, I'd need to know the jump mass of the carrier, and I can only find that in the Journal event (although I've not thought about the API call, as it's not the kind of thing I'd know about).

Now that you've asked, it occurs to me that you could

[2022-07-01 01:09] SupremeAnu opened #2376 "EDDI Force Closing"
Hello, I'm running EDDI version 4.0.1 for Odyssey and it keeps crashing. I have set everything up with Ivona and it operates until it closes while I'm playing the game. This only happens when playing the game.
My specs are:
R9 3900X
RTX 2080 Super
32GB DDR4 3200MHZ

[2022-07-01 01:21] Tkael commented on #2376
Hmm. Are you using VoiceAttack? Please send a copy of the .log files from `%appdata%/EDDI` and I can take a look for any crashes that EDDI has recorded.

[2022-07-01 01:23] Tkael commented on #2376
Also, is this a new problem or an ongoing problem?

[2022-07-01 01:29] SupremeAnu commented on #2376
Here are the log files.
[eddi_issue.zip](https://github.com/EDCD/EDDI/files/9024372/eddi_issue.zip)

[2022-07-01 01:31] SupremeAnu commented on #2376
This is an ongoing problem. I have closed all other applications accessing APIs to try to solve this.
Also, I am not using VoiceAttack. Just the TTS voices.

[2022-07-01 04:22] Tkael commented on #2376
Assuming that `eddi1.log` represents a session where a crash occurred, I'm afraid that EDDI didn't capture any actionable data. The log just... ends. This may occur if the exception occurred inside of a system process rather than directly in EDDI.

Would you please check your system event log for system-level `Error` events which may correlate with EDDI crashing? There's a short tutorial [here](ht

[2022-07-01 05:15] SupremeAnu commented on #2376
Okay, here are my EV logs.

`Application: EDDI.exe
Framework Version: v4.0.30319
Description: The process was terminated due to an unhandled exception.
Exception Info: System.AccessViolationException
   at System.Speech.Synthesis.TtsEngine.ITtsEngine.Speak(System.Speech.Synthesis.TtsEngine.SPEAKFLAGS, System.Guid ByRef, IntPtr, IntPtr, IntPtr)
   at System.Speech.Internal.Synthesis.TtsProxySapi.Sp

[2022-07-01 06:33] Tkael commented on #2376
Ok. We now know that the problem is occurring when EDDI tries to access Windows system files dealing with speech synthesis.

Let's make sure that your system files don't have any issues. Please follow the guide [here](https://support.microsoft.com/en-us/topic/use-the-system-file-checker-tool-to-repair-missing-or-corrupted-system-files-79aa86cb-ca52-166a-92a3-966e85d4094e) to check for and fix any

[2022-07-02 19:15] SupremeAnu commented on #2376
[CBS.log](https://github.com/EDCD/EDDI/files/9033495/CBS.log)
Here are my CBS logs. I have tested the issue and I don't seem to be having any issues with a crash atm. I will let you know if the issue occurs again. Thank you so much for your help and hard work!

[2022-07-02 19:47] SupremeAnu commented on #2376
It has force closed again. T_T

[2022-07-02 23:48] SupremeAnu commented on #2376
I'm running Odyssey version 4.0.0.1302

[2022-07-03 02:16] Tkael commented on #2376
Which Windows version are you using? Is there any other application which may be accessing the system speech synthesizer? Did your system find and repair any issues related to `MSVCR80.dll`?

[2022-07-05 01:56] SupremeAnu commented on #2376
I'm using Windows 10 version 21H1. And I did run the steps you recommended, it did find and repair corrupted files. I am using Discord only. I think I have Cortana disabled, I can't think of any other programs that would use the synthesizer.

[2022-07-05 06:05] Tkael commented on #2376
Ultimately, this is looking like a system issue rather than an EDDI issue, but you might try reinstalling the C++ package as described [here](https://www.lifewire.com/how-to-fix-msvcr80-dll-not-found-or-missing-errors-2623805)?

[2022-07-09 20:57] SupremeAnu commented on #2376
Hello, I have followed the steps you have sent above. I reinstalled VC and removed old registry entries. I also enabled the phonetic setting in EDDI to help with crash issues and haven't had a crash since. Thank you for your help!

[2022-07-09 21:13] Tkael commented on #2376
Excellent. Closing as resolved. :-)

[2022-07-09 21:13] #2376 closed, assigned to nobody

[2022-08-05 00:00] Darkcyde13 opened #2377 "New signals for Signal detected script"
## What's Wrong (please be as specific as possible)

### Expected
Signals reported by the Signal detected script to be spoken as per their name.

### Observed
New TG warzone signals are being reported with their type attached to the name (the whole signal name is reported).

### Steps to reproduce
1. Go to HIP 22460
2. Do a 'honk'
3. Listen to the various signals detected

### Configuration
* Vers

[2022-08-05 00:52] Tkael commented on #2377
Noted. It's too bad that FDev omitted localized names for those combat zones around the capitol ships (if they had, EDDI would have fallen back on the localized names).

[2022-08-13 23:41] Darkcyde13 opened #2378 "New 'Unclassified Relic' not recognised"
As per title, the new 'Unclassified Relic' commodity is not recognised.

Journal entry when collecting them from the Thargoid Machine:

EDDI output:

I was wondering, shouldn't this default to the localised version (which would be correct)?

[2022-08-14 00:33] Tkael commented on #2378
Thanks. I was already aware of the definition update.

Ideally, this would default to the localized name but in this case the event pre-dates localized names being written to the journal so we don't currently handle the localized name. We will certainly be able to implement a fix for that though. :-)

[2022-08-19 15:32] druggedhippo opened #2379 "Add support for additional TTS integrations through non-Microsoft focused SpeechService interface"
EDDI currently uses whatever built in Windows TTS system is installed.  Unfortunately, the built in Windows TTS are not particularly good.

This feature request is to ask for a better more modular SpeechService class that allows other speech engines to "plugin" that do not rely on the Windows TTS interfaces and provide the same WAV stream as the existing class uses.

Examples of other engines coul

[2022-09-02 22:40] DarrenMKL opened #2380 "EDDI Ship Monitor export not working"
It's no longer exporting my ship stats to Corolis or EDSY. Have only noticed it on the current version 4.0.1, was working previously.

[2022-09-02 22:53] Tkael commented on #2380
Please elaborate. What happens when you press the "Export it" button? Or is the button greyed out?

[2022-09-02 22:54] Tkael commented on #2380
For reference, I'm not having any issues at present with exporting ships.

[2022-09-02 23:08] DarrenMKL commented on #2380
Hi.

Nothing happens, no new browser tab or browser window. I have tried with
chrome open and closed.

On Fri, 2 Sept 2022, 11:54 pm Brian Wilson, ***@***.***>
wrote:

[2022-09-02 23:12] DarrenMKL commented on #2380
Just to add too, it's not greyed out.

On Fri, 2 Sept 2022, 11:53 pm Brian Wilson, ***@***.***>
wrote:

[2022-09-03 01:40] Tkael commented on #2380
Is anything recorded in your log when you try to export your ship?
Your logs are located at %appdata%/EDDI and end with the .log extension.
Logs are numbered from most recent to least recent.

[2022-09-04 13:19] Darkcyde13 opened #2381 "Body type bug in 'Entered Normal Space' event"
## What's Wrong (please be as specific as possible)

### Expected
The body type to match that of the game Journal.  In this case, a null body type to equal 'none' in the event.

### Observed
Entering normal space in the vicinity of two stars, resulted in the body type being 'Body' in the event, when it is set as 'null' in the Journal entry.

### Steps to reproduce
1. Enter normal space between a b

[2022-09-04 16:52] Tkael commented on #2381
Sure enough, it looks like "Null" is handled like the "None" type... as a generic body.

Looking over my journal history, I _think_ this is only ever written for barycenters so rather than setting this to `None` or `null`, I could set this to `Barycenter` instead (preserving what appears to be unique information that we receive from bodytype "Null").

Thoughts?

[2022-09-04 19:41] Darkcyde13 commented on #2381
Your right, using `barycentre` would make much more sense than just null or none.  Assuming there would be no other situations where bodytype would be null, then this would be perfect.

Having moved on now, I'll see if I can find another binary planet pair, and then see what the Journal says when entering normal space between them, just to double check.

Using `barycentre`, I should be able to ada

[2022-09-04 20:34] Tkael commented on #2380
Hi @DarrenMKL , please take a look at your logs when you have a moment and let me know. o7

[2022-09-04 21:14] Darkcyde13 commented on #2381
Well, I've tried dropping between several binary pairs of planets, but all I'm getting is that I'm dropping at the nearest of the two bodies, not at a barycentre (so 'Planet', not 'null').  Maybe I do need a target, like the visitor beacon I had targeted before, or maybe a fleet carrier will do too.  Unfortunately, I've taken a trip out to see the 'Stargoid' anomaly, and there isn't any binary pai

[2022-09-04 21:49] Tkael commented on #2381
No worries. Thanks for attempting the tests. :-)

[2022-09-05 10:05] DarrenMKL commented on #2380
Odd, I replied to the email requesting the log on Saturday same way I replied to the email messages previously (and they show up on here and this is the first reply I have typed on here) but the log one doesn't. Anyway, here it is, just ran it right now again.
[eddi.log](https://github.com/EDCD/EDDI/files/9488855/eddi.log)

[2022-09-06 01:05] Tkael commented on #2380
I think Github has issues with email responses which have attachments. Better to click through to Github to respond.

In any case, here's the exception:
[code]

It looks like EDDI does not have sufficient permission to send the data to your browser. Are you running your browser in administrator mode?

[2022-09-06 07:50] DarrenMKL commented on #2380
I was, turning it off has fixed it. Clearly between last using EDDI (I'm back on ED after a break) and now I've had to do something else to fix something that needed admin privileges and I left it on and this is the first (and only) thing that has been effected.

Thank you.

[2022-09-06 17:15] #2380 closed, assigned to nobody

[2022-09-09 11:03] MemphyKitay opened #2382 "about adding chinese language support"
There was a contributor who provided Chinese localization for EDDI many years ago. But no one has updated since then.
These days I added Chinese resources to all the multilingual parts of the eddi project locally, and the Personality has also been initially localized (which was my original goal, before finding out that a lot of voice script were  called from within the program).

## What I'd like

[2022-09-10 18:08] Tkael commented on #2382
Hi @MemphyKitay , the typical process for accepting localizations for EDDI is documented at https://github.com/EDCD/EDDI/blob/ac863458a504d281ed4997a0b308156f8b6cac93/docs/Localization_for_translators.md. There is a lead translator for each language but if that lead translator is not responsive then we can reassign the role at our discretion.

I appreciate the work you've put into a Chinese transl

[2022-09-11 14:19] Darkcyde13 opened #2383 "Entered signal source script currently not working as intended"
## What's Wrong (please be as specific as possible)

### Expected
When entering a signal source, the script to correctly report what type has been entered.

### Observed
The script simply says "Entered signal source" or a variation of it.  No type is reported.

### Steps to reproduce
1. Enter a signal source, like Degraded Emissions.
2. Observe the type is not spoken.

### Configuration
* Version

[2022-09-11 23:37] Tkael commented on #2383
Good sleuthing. o7

[2022-09-12 00:11] shodanx2 commented on #197
Could AutoIT be used to trigger this ?
I just started playing ED, first thing I did after re-installing EDDI is turn off text to speech
Which is a shame because I would like it.
But I can't wait for it to shut up if I need to talk to my friend or if they're talking to me.

[2022-09-12 02:24] Tkael commented on #197
Not that I'm aware of (I don't use AutoIT).

[2022-09-15 18:56] MemphyKitay commented on #2382
Hi Brian!
Thank you very much for your reply!
 I am more than happy to contribute to the localization of EDDI and may
remain active for a longer period of time.
 I don't know what the job as a lead translator is, but I'm honored to
temporary take that position if there is a need.

o7

Brian Wilson ***@***.***> 于 2022年9月11日周日 上午1:08写道：

[2022-09-16 14:49] SmartShots opened #2387 "Total Assets is not being reported correctly - Fleet Carrier not being included?"
When Inara is updated by EDDI the total assets are being reported incorrectly. I have 15 Billion+ in total assets in game. When Inara picks up the data from Frontier it also shows 15 Billion+ total assets. When Inara gets data from EDDI the total assets shows as 3 Billion+.

I would expect EDDI to pick up the correct data and send that to Inara.

I suspect that it is because most of my assets are

[2022-09-16 20:04] dupsatou commented on #1215
I am experiencing this issue pretty much exactly on EDDI 4.0.1 as a plugin in Voice Attack.  It's preventing some of my profiles from running because they hang in a loop waiting for the proper responses from EDDI and its not getting them.

[2022-09-16 21:03] dupsatou opened #2388 "Some events are not being returned to Voice Attack"
## What's Wrong (please be as specific as possible)

It seems that whether or not EDDI returns an event to voice attack can be hit or miss.  I have also seen events queue up and suddenly come in hours later while playing ED rather than when I actually needed them.  Everything basically discussed in issue #1215 is true for me here - even in the comments of high CPU usage.

### Expected
Events are r

[2022-09-16 22:52] Tkael commented on #2387
Hmm.... have you looked at the breakdown of your assets at https://inara.cz/elite/cmdr-credits-assets/ to identify the missing data?

When I access my Inara profile (which I update via EDDI), I see my fleet carrier assets recorded correctly.
![image](https://user-images.githubusercontent.com/4382539/190826021-07c5b61c-22b4-48f3-a0f1-28a0601f8063.png)

When I look at https://inara.cz/elite/cmdr-cre

[2022-09-16 22:55] Tkael commented on #2388
Does this occur using the default EDDI.vap profile?
If not then there may be a loop in your VoiceAttack profile that is consuming your CPU's resources.

[2022-09-16 22:59] Tkael commented on #2388
If it does continue to occur when using EDDI.vap then please submit a DEBUG eddi.log file so that we can examine the timing as events are being processed by EDDI. Please don't forget to disable DEBUG logging after collecting the data.

[2022-09-16 23:26] Tkael commented on #2382
Ok. I think I misremembered, we don't currently have a Chinese lead translator (Proofreader).
I've checked a number of the translations and they look good, so if you are willing to work on the translation then I will grant you the role of lead translator (Proofreader).

It looks like you've submitted files using the `zh-CHS` language code. For the files you've already translated, we'll need to pat

[2022-09-17 09:30] SmartShots commented on #2387
Hmmm, not sure where it's going wrong but...

This is the credits page, clearly showing the correct 'official' updates from Frontier and the last 2 updates that came from EDDI.

![image](https://user-images.githubusercontent.com/74139324/190849296-6d162622-fdb0-4723-91bc-6c98bfd91a3b.png)

This the credits assets page:

![image](https://user-images.githubusercontent.com/74139324/190849225-f0f20cca

[2022-09-17 10:45] Darkcyde13 commented on #2387
I have been having the same problem, but I must admit, I never considered it could have been EDDI's fault.  I've found that INARA has said there were errors in receiving data, but it didn't specify where from.  I just took it to mean from the game files (as I've had trouble with INARA obtaining data from a manual scan of the Journal sometimes), but thinking about it, it is probably from EDDI as I

[2022-09-17 13:54] SmartShots commented on #2387
The entries with the check marks are the official updates from Frontier.

[2022-09-18 00:45] Darkcyde13 commented on #2387
Quick update after today's play session.  Something odd is happening...

![image](https://user-images.githubusercontent.com/24360725/190880649-d913a01b-611b-46e6-a9b0-c9e0bec6f138.png)

The last entry dated the 14th Sept, has changed.  In my first post above, it was an official update from Frontier (thanks @SmartShots).  However, after playing today, it's no longer an official update and is missin

[2022-09-18 08:58] SmartShots commented on #2387
Just adding to my notes:

Looking at when my credit assets are correct (updated from Frontier):
![image](https://user-images.githubusercontent.com/74139324/190894033-708adf55-ce2e-4d2f-be70-b38f6cb020fa.png)
NOTE: I manually deleted the previous incorrect EDDI updates and haven't been in game yet today.

My credit assets page is now also correct:
![image](https://user-images.githubusercontent.com/

[2022-09-18 09:17] SmartShots commented on #2387
Also - I just went in game and got EDDI to update again and the incorrect credits and missing Misc services are back:
![image](https://user-images.githubusercontent.com/74139324/190894750-f05a40dd-ab8d-4f23-9d18-357ef6db4a0d.png)

![image](https://user-images.githubusercontent.com/74139324/190894769-bb8309fd-2312-41f4-942c-14e1e6b31d4e.png)

Todays EDDI Log:
[eddi.log](https://github.com/EDCD/EDDI

[2022-09-18 10:04] SmartShots commented on #2387
I have spoken to Artie (Inara creator) and pointed this issue out to him, in case any part of it was down to Inara, this is what he had to say:

[2022-09-18 10:47] Tkael commented on #2387
Artie and I have identified the issue. It's some code that has been updated in my development build but which hasn't yet made it's way into release. It will be resolved with the next release. o7

[2022-09-18 10:49] Tkael commented on #2387
Resolved by a22e1b469b0cf1633f61779f186ce8c009b7be10.

[2022-09-18 10:49] #2387 closed, assigned to Tkael

[2022-09-22 01:16] richardbuckle commented on #2382
This is now integrated on CrowdIn.

[2022-09-22 01:16] #2382 closed, assigned to nobody

[2022-09-24 20:53] Tkael opened #2393 "{TXT:EDDI mission accepted destinationstation} does not work"
### Discussed in https://github.com/EDCD/EDDI/discussions/2386

<div type='discussions-op-text'>

<sup>Originally posted by **FireSammy** September 15, 2022</sup>
Hello, like the subject says the {TXT:EDDI mission accepted destinationstation} does not work currently, what might be the reason. It used to work just fine</div>

[2022-09-24 20:54] Tkael commented on #2393
Closed until more information can be provided.

[2022-09-24 20:54] #2393 closed, assigned to nobody

[2022-09-24 21:10] Tkael opened #2395 "Reporting of cAPI active"
### Discussed in https://github.com/EDCD/EDDI/discussions/2344

<div type='discussions-op-text'>

<sup>Originally posted by **ACyprus** June 17, 2022</sup>
Hey o7

This might be better placed in a new Issue but I wanted to confirm my understanding before creating one.

## Context

- I'd like to create a VA command that confirms EDDI's Frontier API status is connected, but I can't seem to ever find

[2022-09-29 23:54] lenninscjay opened #2396 "Support for Windows 11 Natural Voices?"
With the addition of Windows 11 three new natural sounding TTS voices were added. Aria, Guy, and Jenny. They're installable through the Accessibility<Narrator window. I suspect that Windows 11 actually installs these through the Microsoft Store App which might explain why they don't show up in the normal TTS install directory.

[2022-09-30 00:57] lenninscjay commented on #2396
The updated windows 11 Voices are located in the below directories:

C:\Program Files\WindowsApps\...

...MicrosoftWindows.Voice.en-US.Aria.1_1.0.6.0_x64__cw5n1h2txyewy
...MicrosoftWindows.Voice.en-US.Guy.1_1.0.3.0_x64__cw5n1h2txyewy
...MicrosoftWindows.Voice.en-US.Jenny.1_1.0.6.0_x64__cw5n1h2txyewy

The original windows TTS is located in C:\Windows\Speech_OneCore\Engines\TTS\en-US

I tried a brut

[2022-09-30 00:58] Tkael commented on #2396
I've looked for information on these but have come up empty as far as finding 3rd party developers that have been able to access and implement these in a desktop-only context (i.e. without accessing a rate limited or paid Azure server account). I'm also still on Windows 10 so unable to test the new voices locally.

If you have any information that might be relevant for supporting these voices in E

[2022-09-30 01:04] Tkael commented on #2396
To support the OneCore voices we needed to add a second Speech Synthesizer library to EDDI. I'd expect that the new Natural Voices would require something similar but I've been unable to find any documentation that doesn't point developers back to server-processed voices with Azure.

Also please note: They may be registry hacks to get this working but we do not want to support or encourage registr

[2022-09-30 01:17] lenninscjay commented on #2396
Tkael, wow, quick response man. Yes, regarding the registry hacks I was just looking through SystemSpeechSynthesizer.cs and saw a couple of comments in there that made me consider digging through registry which I might do myself but wouldn't recommend user wide.

I can't really recommend windows 11 either, but here I am haha. For what it's worth, the new Windows 11 voices are free and sound on par

[2022-09-30 20:39] Darkcyde13 opened #2397 "Errors with some scripts: 'Exception has been thrown by the target of an invocation.'"
## What's Wrong (please be as specific as possible)

### Expected
All scripts to operate normally.

### Observed
For some reason, I'm now getting an error when certain scripts try to run:
Error with <script name> script: Exception has been thrown by the target of an invocation.

### Steps to reproduce
I don't think you'll be able to reproduce it, as I'm sure it will be a problem my end, but see in

[2022-09-30 20:49] Darkcyde13 commented on #2397
I just tried renaming the EDDI.sqlite and re-obtained my EDSM logs again to recreate the database.  Loaded VA , and back into the game, but still getting the error. :(

[2022-09-30 21:01] Darkcyde13 commented on #2397
Also just tried removing the EDDI directory from AppData\Roaming (made a backup first), and reinstalling EDDI, but still get the error.

[2022-09-30 21:32] Darkcyde13 commented on #2397
....and now, it all seems to be working again, without me doing anything.  I was playing, making sure EDDI was still reporting to EDSM, and just in the middle of playing, it stopped erroring.  Weird.

I'll close this for now, but if it happens again, I'll reopen it.  So confused by it now....

[2022-09-30 21:33] #2397 closed, assigned to nobody

[2022-10-01 22:44] Tkael commented on #2397
One of the new body properties that we added in version 4.0.1 was a `solarday` property.
This property calculates the solar day from the orbital and rotational periods. An exception can occur when the orbital and rotational periods are exactly equal (which would represent an infinite solar day and can occur with tidally locked bodies).
The next release will include a fix for this by making the `so

[2022-10-03 08:14] Tkael commented on #2395
No, there's definitely a code issue where `cAPI active` is not currently being set. I've queued up a fix that'll be incorporated into the main `develop` branch soon.

[2022-10-03 08:15] Tkael commented on #2388
Closing due to lack of further feedback.

[2022-10-03 08:15] #2388 closed, assigned to nobody

[2022-10-03 18:55] Tkael commented on #2379
Thank you for this. 😀

As you have effectively demonstrated, it is indeed possible to add additional speech synthesizers to EDDI, including for voices sourced from various cloud development environments (Azure, AWS, etc.).

These cloud voices typically require the user to provide specific credentials and are limited in some way (either as timed trials or offering to render a limited number of word

[2022-10-09 06:01] #1714 closed

[2022-10-09 06:01] #2381 closed, assigned to Tkael

[2022-10-09 11:20] Tkael commented on #2395
Resolved by commit c96fbfb3bb355e2440ea0c0580c4b2bf2fae5343

[2022-10-09 11:20] #2395 closed, assigned to Tkael

[2022-10-09 21:44] Tkael commented on #2378
Resolved by b4a8c5e2016c4f3844010835b4a0da708208c631.

[2022-10-09 21:44] #2378 closed, assigned to Tkael

[2022-10-10 15:14] FireSammy opened #2404 "{DEC:System distance from home} does not work"
{DEC:System distance from home} does not work, EDDI API speaks it correct, but the variable does not calculate

### Expected
Should give the correct distance in LY decimals with ((EDDI:Jumped)) command

### Observed
Does not calculate, gives error

### Steps to reproduce
Every time I jump

### Configuration
Horizons 4.0
  * EDDI Version: 4.0.1
  * VoiceAttack Version: 1.10.3
* Localization ??
  *

[2022-10-10 19:19] nepomuk16321 commented on #2404
Hello FireSammy, I am wondering about the supposed error. On the EDDI page "Jumped-event" I do not find the variable you mention. https://github.com/EDCD/EDDI/wiki/Jumped-event If this variable is not generated by EDDI for Voice Attack (or you generate the variable), then Voice Attack cannot use it. A question about the announced distance. Does the announcement come over Voice Attack or from EDDI

[2022-10-11 08:49] DarrenMKL commented on #2380
Hi Brian. Just run it again right now (fresh Windows boot etc.) Log attached ThanksDarren Sent from Mail for Windows From: Brian WilsonSent: 03 September 2022 02:40To: EDCD/EDDICc: DarrenMKL; AuthorSubject: Re: [EDCD/EDDI] EDDI Ship Monitor export not working (Issue #2380) Is anything recorded in your log when you try to export your ship?Your logs are located at %appdata%/EDDI and end with the .lo

[2022-10-11 12:48] Tkael commented on #2404
There are unfortunately some known issues with selective variable updating in our top level objects in 4.0.1. I believe these should be fixed in the next release.

[2022-10-11 12:50] Tkael commented on #2380
Hi Darren, email attachments don't work with Github so I did not receive your log.

[2022-10-11 12:52] Tkael commented on #2380
Is it the same situation we already discussed above (with your browser in administrator mode)?

[2022-10-11 15:47] DarrenMKL commented on #2380
Not sure what’s happened there, I didn’t post anything since we fixed it. So, not me 😊maybe lag with the old attachment? Sent from Mail for Windows From: Brian WilsonSent: 11 October 2022 13:52To: EDCD/EDDICc: DarrenMKL; MentionSubject: Re: [EDCD/EDDI] EDDI Ship Monitor export not working (Issue #2380) Is it the same situation we already discussed above (with your browser in administrator mode)?—R

[2022-10-11 23:40] Darkcyde13 commented on #2404
This is a variable that should be available for Voice Attack, as mentioned here in the VA help: https://github.com/EDCD/EDDI/wiki/VoiceAttack-Integration#current-system-variables

[2022-10-12 12:24] nepomuk16321 commented on #2404
Ohhh, I hadn't looked in that section (scroll down page). OK, all clear. That was my mistake then.
Thanks @Darkcyde for the correction.
But with that we have uncovered another small problem, the help pages are not ... ähh how do you call that ... stringent, logically coordinated. But this correction is not so important for now. A new version of EDDI is much more important.

[2022-10-17 06:47] #2383 closed, assigned to Tkael

[2022-10-18 06:50] Tkael opened #2407 "EDDI does not speak in configured language"
### Discussed in https://github.com/EDCD/EDDI/discussions/2406

<div type='discussions-op-text'>

<sup>Originally posted by **tbayart** October 14, 2022</sup>
Hi here,

I'm french on a french Windows 10 but i'm running all my programs in english, including Elite Dangerous.
EDDI is setup for english and all texts are displayed in english.
In Speech Responder, i checked a few scripts and most of the

[2022-10-18 07:54] Tkael commented on #2407
From what has been said in the discussion so far, at least part of this issue may have to do with threads triggered from VoiceAttack plugin contexts. Since these threads are created by VoiceAttack in response to a plugin command, they would inherit the VoiceAttack / system default thread culture. We can override / set that back to your selected culture.

You reported that the event scripts are bei

[2022-10-18 08:09] Tkael commented on #2407
Aha! I think I may have found something specifically related to fetching the correct culture-specific scripts file. Full investigation will need to wait, it's very late here and i need to 💤 . If I'm right though then the UI will be in English but the scripts will all be French (but only when the UI is opened from VoiceAttack as described above).

[2022-10-20 05:14] Tkael commented on #2407
Ok, I think I understand the issue (UI being loaded before the language setting was fully applied) and I think I have a fix. I'm working towards a new beta release and when that is released I'd appreciate it if you would re-test this and let me know if there is still an issue.

[2022-10-20 05:14] #2407 closed, assigned to Tkael

[2022-10-21 08:19] tbayart commented on #2407
Hi, i retrieved the source and built it.
Then i ran EDDI as a VA plugin.

Here is the `speechresponder.out` from commit 6f2771b7dac15d58e74429ec8ff849becb7fc586 at startup :

Plus que 97 pourcent pour passer au rang suivant en combat. Plus que 87 pourcent pour passer au rang suivant dans le commerce. Plus que 76 pourcent pour passer au rang suivant en exploration. Plus que 97 pourcent pour passer

[2022-10-21 08:26] Tkael commented on #2407
Awesome. Thanks for taking the time to report back. o7

[2022-10-22 21:45] #2377 closed, assigned to Tkael

[2022-10-23 03:05] #2130 closed, assigned to Tkael

[2022-10-31 00:33] Tkael opened #2410 "Add a Note or Comments field to mission entries in the Mission Monitor?"
## What happens now
Mission data is not editable.

## What I'd like to happen
could it be possible to add a "Notes" column in the mission monitor? So i can wrote something in it for each mission and it will be saved?

## How it can happen
Add a note/comment property to missions and make this field user editable.

## EDDI Version
4.0.1

[2022-10-31 00:34] Tkael commented on #2410
As suggested by Parduz. https://forums.frontier.co.uk/threads/eddi-3-3-bring-your-cockpit-to-life.387955/post-9984741

[2022-10-31 00:47] Tkael opened #2411 "Improve data table filtering and optionally display invariant names (for the Material Monitor and similar UI areas)"
## What happens now

If using EDDI localized names then it may be hard to find items from a list generated in English.

## What I'd like to happen

(i'm referring to the Material Monitor page, but it would be useful to be applied on almost any data table)

Add an option to display the Invariant Name instead of the Localized Name?
(or an added "Game name" column that we can use to sort the list)

A

[2022-11-14 16:09] tyrope opened #2413 "Allow users to select Audio Device"
(Note: Any time I refer to "VA" I mean VoiceAttack)

## What happens now
[Describe what happens now and any problems that it causes]
Currently, EDDI always uses Windows' Default Output Device.
While I'm streaming Elite to my friends in Discord, I have Voice Attack and my mic loop into Voicemeeter so they can hear VA as well as the game; unfortunately, despite being installed as a VA plugin, EDDI d

[2022-11-18 02:22] Tkael commented on #2379
Related: https://github.com/jamescl604/MSCognitiveSpeechForVoiceAttack

[2022-11-18 15:43] Tkael opened #2415 "Consider swapping to "new" Galnet feeds"
## What happens now
We're using older links for the Galnet monitor (https://community.elitedangerous.com/galnet-rss I think)

## What I'd like to happen
Be prepared to swap to newer feeds if the old feeds are no longer available.

## How it can happen
https://www.elitedangerous.com/en-GB/rss/galnet.xml

## EDDI Version
4.0.1

[2022-11-18 15:45] Tkael commented on #2415
The old site and old links are being discontinued.
https://forums.frontier.co.uk/threads/retiring-community-elitedangerous-com.610578/

[2022-11-18 15:49] Tkael commented on #2415
There is also a json api version, e.g. https://cms.zaonce.net/en-GB/jsonapi/node/galnet_article?=&sort[sort-publish][path]=published_at&sort[sort-publish][direction]=DESC&page[offset]=0&page[limit]=12

https://gist.github.com/corenting/b6ac5cf8f446f54856e08b6e287fe835

[2022-11-21 08:21] Tkael commented on #2301
Resolved by dd25a0ac9cf12a4530a631bf9a5208dff0e33417

[2022-11-21 08:21] #2301 closed, assigned to nobody

[2022-11-21 08:23] Tkael commented on #1828
This is a new feature that shall be included in version 4.0.2.

[2022-11-21 08:24] Tkael commented on #1828
Resolved by 70731c540a54c1d68f1d5cffd72b515f5615cd47

[2022-11-21 08:24] #1828 closed, assigned to nobody

[2022-11-23 03:53] Tkael commented on #1995
There will be a `carrier` top level object in 4.0.2 and the `Jumped` event will occasionally report distance to your carrier if no home system is set. Tracking other people's fleet carriers is less reliable so I have chosen not to take that approach.

[2022-11-23 03:53] #1995 closed, assigned to nobody

[2022-11-24 22:05] #2226 closed, assigned to nobody

[2022-11-25 03:04] #2332 closed, assigned to nobody

[2022-11-25 04:31] #2227 closed, assigned to Tkael

[2022-11-25 08:01] Tkael commented on #2118
I've added `mapped` and `hotspots` properties to `ring` objects for the next release. That should allow you to create a `Rings to map` script.

[2022-11-25 08:02] #2118 closed, assigned to Tkael

[2022-11-25 08:12] Tkael opened #2418 "Carrier cargo and material inventory data isn't currently accessible"
## What happens now
If I'm trading at a station, it would be helpful to be aware of the cargo and materials already stored on my fleet carrier.

## What I'd like to happen
Track carrier cargo and materials and use them to make recommendations when I visit a station.

## How it can happen
- [ ] Use the Frontier API and various journal events to track carrier inventories.
- [ ] Update EDDI's UI to a

[2022-11-25 08:14] Tkael commented on #2374
I've added a top-level `carrier` object for the next release. Carrier cargo / material inventories are not yet supported but I've added another ticket (#2418) to allow us to circle back and add that functionality later.

[2022-11-25 08:14] #2374 closed, assigned to Tkael

[2022-11-26 11:34] sero178 opened #2419 "EDDI 4.0.2-b1 Frontier API Auth"
leider verbinden  sich  eddi nicht mit
 frontier

[2022-11-26 12:48] fusionmc-evilscoop commented on #2419
same situation here...wont auth to frontier api
just loops saying connecting and trys to open browser window again

[2022-11-26 22:00] Tkael opened #2420 "Live/Legacy split (incl. for Inara Responder)"
## What happens now
The Inara Responder sends data to Inara.cz for all game versions.

## What I'd like to happen
[https://inara.cz/elite/board-thread/7049/463292/#463292

## How it can happen
Handle the `Fileheader` and `LoadGame`events and disable sending for game versions below version 4.0.0. Consider adding minimum game version info for EDDN and Inara to the update server so that minimum game

[2022-11-26 22:43] ArNeo-VR commented on #2419
Confirm the same issue.

When connection is started, browser opens frontier-auth page.
Entered credentials and approved it. EDDI-TTS acknowledges the connection and req. close window.
Opens a new auth-page (status in EDDI is connecting).

Auth requesting repeatingly when confirming them.
Restarting the EDDI-app, connection status is back to off-line.

[2022-11-27 16:43] Darkcyde13 opened #2421 "Ship interdicted script"
## What's Wrong (please be as specific as possible)

This is a simple one.  The change log says "Ship interdicted updated to add a default script.", but in the default personality, it's blank. Nothing there.

Edit: Sorry, I forgot to include the EDDI version. It's v4.0.2-b1.

[2022-11-27 16:56] Darkcyde13 opened #2422 "status.destinationName is always 'void'"
## What's Wrong (please be as specific as possible)

### Expected
status.destinationName, and status.destinationLocalizedName to be populated with the currently selected destination as per the Status.json file.

### Observed
These variables are always set to 'void'.

### Steps to reproduce
1. Select a destination, either by the left nav panel or from any map.
2. Observe these status variables are

[2022-11-27 16:58] Tkael commented on #2419
As reported on the forums, the exception loggng reports:
[code]

[2022-11-27 17:05] Darkcyde13 opened #2423 "Next destination event not triggering"
## What's Wrong (please be as specific as possible)

### Expected
The 'Next destination' event to trigger when I select an in-system destination

### Observed
This event does not trigger, no matter what in-system object I select as a destination.

### Steps to reproduce
1. Select an in-system destination from the left nav panel or system map.
2. Observe that the event does not trigger and nothing

[2022-11-27 17:20] Darkcyde13 opened #2424 "Grammar error in Carrier docking permission"
## What's Wrong (please be as specific as possible)

### Expected
Grammar to be correct for 'open', using 'open' or 'opened' where necessary.

### Observed
Only 'open' is used, making most of the script sound wrong if "has been" is randomly selected.

### Steps to reproduce
1. Change docking permission on your Carrier.
2. When "has been" is used, 'open' is grammatically incorrect.  It should be 'o

[2022-11-27 17:23] Tkael commented on #2419
Hmm. I downloaded the released installer for 4.0.2-b1 on a fresh PC and had no trouble with the connection to the Frontier API.  Verbose log snippets as follows:

Profile Endpoint
[code]

FleetCarrier endpoint:
[code]

[2022-11-27 17:25] Tkael commented on #2419
Currently failing to replicate this issue (sorry!).

[2022-11-27 17:31] Tkael commented on #2422
Ah, looks like I made a change to the variable name to be more consistent with other `status` variables but didn't update the documentation to match. Please try using `destination_name` and `destination_localized_name`. I'll update the documentation for the next release.

[2022-11-27 17:33] #2422 closed, assigned to Tkael

[2022-11-27 17:34] Darkcyde13 opened #2425 "Grammar error in Carrier service changed"
## What's Wrong (please be as specific as possible)

### Expected
Grammar to be correct for "has been"/"is now", changing to "have been"/"are now" where necessary.

### Observed
Only the singular (has/is) is used, making some of the script sound wrong when "services" are part of the service name.

### Steps to reproduce
1. Change a service on your Carrier.
2. Observe when a service name is selecte

[2022-11-27 17:35] Tkael commented on #2423
The script is disabled by default. Did you enable it?

[2022-11-27 17:40] Darkcyde13 commented on #2423
Gah! I didn't notice that. Sorry.  That would be my visual disability at work again! Lol!

Although, why have it disabled by default?  Every other script is enabled by default (as far as I can tell).  I thought they should all be enabled and let the user decide to turn them off?

[2022-11-27 17:54] #2424 closed, assigned to Tkael

[2022-11-27 18:01] Tkael commented on #2423
We have occasionally defaulted scripts to disabled in the past but it is uncommon (sorry if I should have documented this differently). In this case, I felt like the default script I was using was a little more verbose than I or most would like (and in some cases did not yield proper grammar describing the destination) so I switched it off by default.

I'll close this issue for now, but please fee

[2022-11-27 18:01] #2423 closed, assigned to nobody

[2022-11-27 18:03] Tkael commented on #2421
Yep, looks like I missed adding this. It would have been a simple script in any case and I should have no trouble adding it once I'm back at my home PC again. Thanks for raising the issue and letting me know so that I can correct it.

[2022-11-27 18:18] #2425 closed, assigned to Tkael

[2022-11-27 21:28] nepomuk16321 commented on #2419
Ok, I have tested.
1. uninstalled EDDI (4.0.1) and deleted all directories (plugin directory in VA and in %appdata%/EDDI ).
2. installed EDDI 4.0.2-b1 (no error messages).
3. started EDDI >> window opens in the middle of the screen (OK)
4. directory %appdata%/EDDI checked >> no EDDI directory present !
5. moved EDDI window and closed EDDI.
6. restarted EDDI >> window opens in the center of the scr

[2022-11-28 11:27] fusionmc-evilscoop commented on #2419
[code]

and then it loops..please note 204 on companion responce
please note ive removed the token data itself

going back to non beta it all works perfect

Companion responce is 200 on the non beta
[code]

[2022-11-28 18:54] Sharparam opened #2426 "Error in "Undocked" script"
When undocking, the TTS says

"Error with undocked script: Object reference not set to an instance of an object"

The issue goes away if the last line in the script is commented, `{set next_system to RouteDetails("update")}`, but whatever functionality that line is meant to give is then not available I'd assume.

Playing Horizons (4.0)
EDDI version: 4.0.2-b1
Running as VoiceAttack plugin, VA versi

[2022-11-28 21:09] Tkael commented on #2419
File locations have NOT changed. The file controlling window positioning should (still) be `appdata/roaming/EDDI/eddi.json`. While it is true that `EDDI.exe.config` has similar values, these are default values and are not updated when the window position and configuration are altered. If eddi.json is not being written to `appdata/roaming/EDDI/` then there may be a file permission issue with your s

[2022-11-28 21:21] Tkael commented on #2419
Hi there. You do not seem to be experiencing the same issue that others are reporting in this ticket. In your case, the Frontier API appears to be successfully connected but is returning code 204 from the `/fleetcarrier` endpoint. This indicates a successful connection but that the server has no data available for you at the specified endpoint . This is the expected response if you do not own a fl

[2022-11-28 21:34] Darkcyde13 opened #2427 "Some Carrier events not triggering"
## What's Wrong (please be as specific as possible)

### Expected
The carrier event scripts to run when I change something in the carrier management screen.

### Observed
Some events do not trigger and the scripts do not run.

### Steps to reproduce
1. Go to your carrier and change docking permissions, or deposit some credits.
2. Observe the event does not trigger.

### Configuration
* Version [Pl

[2022-11-28 21:44] Tkael commented on #2427
They are not triggering because we currently create a new carrier object from the Frontier API. We can add some code to do so from the `CarrierStats` event too which should correct this (I had planned to do this but apparently forgot - easy enough to add to the next release).

[2022-11-28 21:55] #2427 closed, assigned to Tkael

[2022-11-28 22:09] Tkael commented on #2426
The line you highlighted would update trigger a guidance update if you had previously plotted a ship route in the Navigation Monitor and enabled guidance, otherwise it should be inert.

Would you please attach the eddi.log file from that play session for review? It may provide more detail about the specific object that triggered the problem. Likewise, a copy of `navigationmonitor.json` may be help

[2022-11-28 22:57] Sharparam commented on #2426
Meanwhile, I've discovered that a similar error happens in the "Jumped" script, after completing a jump to a system, with the same null reference error. That script is quite a bit larger though so unsure which line it's happening on so far.

Here's the log files (restarted VoiceAttack a few times so it's been split), where both the original issue and the one from the "Jumped" script should be logg

[2022-11-30 13:07] fusionmc-evilscoop commented on #2419
Whole log attached too

[code]

this was start up, try login to api exit...nothing more nothing less

[eddi2.log](https://github.com/EDCD/EDDI/files/10123523/eddi2.log)

could
[code]
have something todo with the issue ?
again rolling back to non beta...logs in first time